.layer {
  font-family: 'Sarabun';
  //padding: 0 16px;

  &.layer-file {
    min-height: calc(100vh - 64px - 48px - 74px - 48px - 26px);

    .pagination-file {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 16px;
      background: white;

      .content-page-size {
        @media only screen and (max-width: 767px) {
          display: none;
        }
      }
    }

    .layer-content {
      margin-bottom: 64px;
    }
  }

  &-title {
    font-weight: 800;
    margin-bottom: 22px;

    .ant-breadcrumb a,
    .ant-breadcrumb-link {
      color: map-get($base, 'base-black');
      font-size: 20px;
    }
  }

  &-action {
    //margin-bottom: 30px;
    padding: 16px;
    background: white;

    &.file {
      padding: 10px 10px 20px 10px !important;
      display: flex;

      @media only screen and (max-width: 922px) {
        flex-direction: column;
        gap: 8px;
      }
    }

    .form-select-search {
      min-width: max-content;
      width: 175px;
      color: black;
      //height: 40px;

      @media only screen and (max-width: 767px) {
        width: max-content;
      }

      .ant-select-selection {
        //border-top-right-radius: 0;
        //border-bottom-right-radius: 0;
      }

      .ant-select-selection--single {
        //height: 40px;
        min-width: 175px;
      }
    }

    .form-input-search {
      //border-top-left-radius: 0;
      //border-bottom-left-radius: 0;
      //border-left: 0;
    }

    .ant-input {
      //height: 40px;
      //border-radius: 4px;
      //width: 100%;
    }

    .btn-search {
      background: #f2f2f2;
      border: 1px solid #b5b4b4;
      border-radius: 5px;
      font-weight: 400;
      font-size: 14px;

      &:hover {
        border: 1px solid map-get($base, 'base-red');
        color: map-get($base, 'base-black');
      }

      .image-search {
        width: 14px;
        height: 14px;
      }
    }

    .ant-switch-inner {
      display: flex;
    }
  }

  &-content {
    // Ant table
    .ant-table table {
      background: white;
    }
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      padding: 0 11px;
      //font-size: 16px;
      min-height: 48px;
      height: 48px;
    }

    .ant-table-thead > tr > th {
      color: rgba(0, 0, 0, 0.8);
      //font-weight: 600;
    }

    .ant-table-thead > tr > td {
      color: black;
      font-weight: 500;
    }

    // Ant collapse
    .ant-collapse {
      box-shadow: 0px 1px 5px rgb(0 0 0 / 5%);
      background: white;
      border: unset;
      margin-bottom: 16px;
    }

    .ant-collapse-item-active .ant-collapse-header {
      background: map-get($base, 'base-gray-low');
    }

    .ant-collapse-header {
      height: 56px;
      font-family: 'Signika', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: #000000;
      display: flex;
      align-items: center;
    }

    .arrow-collapse {
      background: #f2f2f2;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex !important;
      align-items: center;
      justify-content: center;

      &.active {
        background: #dbdbdb;
      }
    }

    // Ant Form
    .ant-select-selection,
    .select__wrap .ant-select-selection__rendered {
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
    }

    .ant-form-item-children .ant-input-number {
      height: 40px;
      width: 100%;
    }

    .ant-input {
      height: 40px;
      border-radius: 4px;
      width: 100%;
    }

    .ant-input-number-input {
      height: 40px;
      border-radius: 4px;
      width: 100%;
    }

    textarea.ant-input {
      max-width: 100%;
      height: auto;
      min-height: 32px;
      line-height: 1.5;
      vertical-align: bottom;
      transition: all 0.3s, height 0s;
    }

    .ant-select-disabled {
      .ant-select-selection {
        border: unset !important;
        color: black !important;
      }
    }

    .ant-input-disabled {
      color: black !important;
      border: unset !important;
    }

    // Checkbox
    .ant-checkbox-inner {
      border-radius: 5px;
      width: 20px;
      height: 20px;
    }

    // Radio
    .layer-radio.ant-radio-group {
      display: flex !important;

      @media only screen and (max-width: 767px) {
        flex-direction: column;
      }

      .layer-radio-item {
        margin-right: 0;
        min-height: 56px;
      }
      .form-radio {
        height: 56px;
      }
      .form-radio-content {
        font-weight: 500;
      }
    }

    .radio-form.ant-radio-group {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      //margin-left: 36px;
    }

    // Switch
    .ant-switch {
      height: 22px !important;
    }

    // Select
    .ant-select-selection__placeholder {
      min-width: 200px;
      //display: block!important;
    }
    .ant-select-selection-selected-value
      ~ .layer-content
      .ant-select-selection__placeholder {
      display: block !important;
    }

    // Switch
    .ant-switch-inner {
      display: flex;
    }

    .ant-select-search__field__mirror {
      opacity: 1 !important;
    }

    // Upload
    .ant-upload-list-item-name {
      max-width: 440px;
    }

    .column-text-center {
      text-align: center;
    }
    .column-50 {
      width: 50%;
    }

    .table-action {
      width: 150px;
    }

    .list-server .ant-table-thead tr > th .ant-checkbox {
      display: none;
    }

    .link-detail {
      //color: map-get($base, 'base-blue');
    }

    .detail-name {
      font-weight: 600;
      color: map-get($base, 'base-red');
      margin-bottom: 16px;
      font-size: 20px;
    }

    .layer-form-row {
      width: 100%;

      @media only screen and (max-width: 767px) {
        flex-direction: column;
        gap: 0;
        align-items: unset;
      }

      // Ant table
      .ant-btn {
        height: 36px;
      }
    }

    .btn-label {
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      width: 100%;
      margin-top: 40px;
      border: 1px solid #dbdbdb;
      padding: 16px;
    }

    .volume-minus {
      right: -30px;
      width: 16px;
      top: 50px;
    }

    .aciton-update {
      height: 80px;
      align-items: end;
      width: 100%;
      justify-content: end;
    }
  }

  // Ant table
  .ant-btn {
    height: 36px;

    &.height-40 {
      height: 40px;
    }
  }

  .detail-action {
    position: absolute;
    right: 16px;
    top: 3px;
    z-index: 1;

    &.server {
      @media only screen and (max-width: 767px) {
        top: -50px;
      }
    }
  }
}

.form-search {
  .form-select-search {
    .ant-select-selection {
      background: #f2f2f2;
      border-radius: 4px 0px 0px 4px;
      width: 144px;
      height: 36px;
      border: unset !important;
      outline: none;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 767px) {
        width: max-content;
        min-width: max-content;
      }
    }
  }

  .ant-select-selection {
    //background: #f2f2f2;
    border-radius: 0px 4px 4px 0px;
    width: 200px;
    height: 36px;
    //border: unset !important;
    outline: none;
    display: flex;
    align-items: center;
  }

  &.search-prefix .ant-input {
    padding-left: 80px;
  }

  .ant-input {
    border-radius: 0px 4px 4px 0px;
    width: 300px;
    height: 36px;
    border-color: #f2f2f2;

    @media only screen and (max-width: 767px) {
      width: 100%;
      //min-width: max-content;
    }
  }

  .ant-input-affix-wrapper .ant-input-suffix {
    left: 12px;
    right: unset;
  }
  .ant-input-affix-wrapper .ant-input:not(:last-child) {
    padding-right: unset;
    padding-left: 30px;
  }
}

.layer-card {
  border: none;
  border-radius: 5px;
  .ant-card-head {
    height: 56px;
    padding: 0 16px;
    margin-bottom: 0;

    @media only screen and (max-width: 767px) {
      height: 100%;
      padding: 8px 16px;
    }
  }
  .ant-card-head .ant-card-head-wrapper {
    height: 100%;
  }
  .ant-card-head .ant-card-head-wrapper .ant-card-extra {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    align-items: center;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      align-items: baseline;
      gap: 8px;

      & > div {
        width: 100%;
        justify-content: end;
        flex: 1;
      }
    }
  }
  .ant-card-body {
    padding: 0;
  }
}

.layer-pagination {
  background: white;
  padding: 16px 0;
}

.layer-form {
  width: 100%;

  .form-label {
    font-family: 'Sarabun';
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;

    .required {
      color: map-get($base, 'base-red');
    }

    &.highlight {
      //color: map-get($base, 'base-red');
      font-weight: 600;
      font-size: 16px;
    }
    &.switch {
      min-width: 110px;
      display: inline-block;
    }
  }

  .form-radio-share {
    //display: flex;
    //flex-direction: column;
    margin-left: 24px;
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: 767px) {
      margin-left: 0px;
    }

    .has-error .ant-form-explain {
      @media only screen and (max-width: 767px) {
        white-space: break-spaces;
        width: 200%;
      }
    }

    .ant-radio-wrapper {
      display: flex;
      margin-bottom: 8px;
      margin-right: 0;
      align-items: center;
      width: 30%;
    }
    .custom-form {
      position: absolute;
      left: 0;
      top: 25px;
      width: 300px;
    }
  }

  .form-reset-password {
    @media only screen and (max-width: 468px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .btn-generate {
    min-height: 40px;
    height: 40px;
    @media only screen and (max-width: 468px) {
      margin-bottom: 0 !important;
    }
  }

  .suggest-password {
    font-size: 12px;
    line-height: 1;
    //position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
  }

  .auto-password {
    .ant-input[disabled] {
      color: black !important;
    }
  }

  .filter-flavor {
    width: 100%;
    min-width: 350px;
    min-height: 150px;
    max-height: 200px;
    overflow: auto;
    background: white;
    top: 105%;
    border: 1px solid #d9d9d9;
    right: 0;
    border-radius: 4px;
    z-index: 10;

    @media only screen and (max-width: 468px) {
      right: -12px;
    }

    &-name {
      //max-width: 350px;
      @media only screen and (max-width: 468px) {
        max-width: 300px;
      }
    }

    .ant-list-split .ant-list-item {
      padding: 8px 16px;
    }
  }
}

.layer-modal {
  .ant-modal-body {
    padding: 1px 16px;
    @media only screen and (max-width: 767px) {
      padding: 1px 8px;
    }
  }

  .layer-modal-title {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    //color: white;
  }

  &.confirm {
    .ant-modal {
      width: 475px !important;
    }
  }

  .ant-modal-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
  }
  .ant-modal-footer {
    border-top: unset;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.05);
  }
}

.layer-tab {
  //background: white;
  //padding: 16px;

  //.tab-content {
  //  background: map-get($base, 'base-gray-low');
  //  padding: 32px 24px;
  //}

  .ant-tabs-bar {
    //  margin: 0 0 4px 0;
    //  border-bottom: unset;
    background: white;
  }

  //.ant-tabs-nav .ant-tabs-tab {
  //  background: #F5F1F2;
  //  padding: 8px 16px;
  //}

  &.full-margin {
    border-top: 1px solid #f2f2f2;
    margin: -16px -16px 0 -16px;
  }
}

.detail-card {
  border-radius: 0;

  .ant-card-head {
    background: #f2f2f2;
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 600;
  }

  .ant-input-disabled {
    color: black !important;
    border: unset !important;
  }
}

.icon-16 {
  width: 16px;
  height: 16px;
}

.image-action {
  width: 16px;
}
.margin-32 {
  margin-right: 32px;
}

.margin-left-32 {
  margin-left: 32px;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.image-edit {
  width: 32px;
  height: 32px;
  background: #eaf3fb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 20px;
    height: 20px;
  }
  path {
    stroke: #287fce;
  }
}
.image-delete {
  width: 32px;
  height: 32px;
  background: #ffedee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 20px;
    height: 20px;
  }
  path {
    stroke: #ff4850;
  }
}

.layer-footer {
  width: calc(100% + 32px) !important;
  margin-left: -16px;
  padding: 16px 16px;
  background: white;
}

.padding-button {
  padding: 0 4px;
}

.margin-8 {
  margin-right: 8px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.min-width-100 {
  min-width: 100px;
}

.max-width-150 {
  max-width: 150px;
}

.max-width-240 {
  max-width: 240px;
}
.max-width-400 {
  max-width: 400px;
  @media only screen and (max-width: 468px) {
    max-width: 275px;
  }
}

.max-width-100 {
  max-width: 100px;
}
.max-width-25-percent {
  width: 25%;
}
.max-width-20-percent {
  width: 20%;
}
.max-width-30-percent {
  width: 30%;
}
.max-width-50-percent {
  max-width: 50%;
}
.width-100-input {
  .ant-input {
    width: 100% !important;
  }
}

.margin-minus-16 {
  margin-left: -16px;
  z-index: 50;
}

.btn-delete {
  color: #fa284e;
  border-color: #fa284e;
}

.border-red {
  border-color: #fa284e;
}

.color-text-red {
  color: #fa284e;
}

.border-nofocus {
  &:focus {
    border-color: #d9d9d9;
    color: #000000;
  }
}
.border-red-input {
  .ant-input {
    border-color: #fa284e;
  }
}

.padding-zero {
  @media only screen and (max-width: 767px) {
    padding: 0;
  }
}
.action-copy {
  @media only screen and (max-width: 468px) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.gap-btn {
  @media only screen and (max-width: 768px) {
    margin-top: 16px;
  }
}

.layer-form-row {
  // Ant table
  .ant-btn {
    height: 36px;
  }
}

.layer-btn-action {
  .ant-btn {
    min-width: 132px;
  }
}
